* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://c.wallhere.com/photos/70/51/saintdenis_ledefrance_frankreich_fr_black_white_soccer_2016-831873.jpg!d);
    background-attachment: fixed;
}

header {
    background-color: rgba(128, 128, 128, 0.681);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: .625rem 1.25rem;
    color: #ccc;
}

.logo {
    width: 8rem;
    ;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 .625rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

main {
    text-align: center;
    margin: 1.25rem;
    padding: 1.25rem;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ccc;
}

h2 {
    color: #ccc;
    text-align: center;
    margin: 1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid {
    gap: 10px;
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 150px;
    grid-template-areas: 
    "s1 s1 s1 s1"
    "s2 s2 s3 s3"
    "s2 s2 s4 s5"
    "s6 s6 s6 s6";
}

.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.section1 {
    background-color: rgb(106, 113, 113);
    grid-area: s1;
    font-size: 80px;
}

.section2 {
    grid-area: s2;
}

.section3 {
    grid-area: s3;
}

.section4 {
    grid-area: s4;
}

.section5 {
    grid-area: s5;
}

.section6 {
    background-color: rgb(131, 130, 131);
    grid-area: s6;
    font-size: 65px;
}

footer {
    margin: 1.25rem;
    padding: 1.25rem;
    border-top: .1875rem solid black;
    text-align: center;
    color: #ccc;
    bottom: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ventas {
    display: flex;
    background-color: #ccc;
    width: 100%;
    border: 1px solid black;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.contenedorProductos {
    margin: 2rem;
    background-color: rgb(111, 111, 111);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1.125rem;
    text-transform: uppercase;
    width: 20%;
    height: 21.875rem;
    box-shadow: 5px 5px 10px;
}

.contenedorProductos p {
    text-align: center;
}


.imagenInicio {
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.imgProductos {
    justify-content: center;
    width: 100%;
    height: 90%;
    text-align: center;
    object-fit: contain;

}


iframe {
    display: block;
    margin: auto;
}


form {
    margin-top: 1.25rem;
    color: #ccc;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-bottom: .3125rem;
    color: #fff7f7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

input[type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: .625rem;
}


.btnFormulario {
    background-color: #333;
    color: #fff;
    border: none;
    padding: .625rem 1.25rem;
    border-radius: 5px;
    font-size: 1.125rem;
    cursor: pointer;
    margin-top: .625rem;
}

p {
    text-align: justify;
    text-justify: distribute;
    color: #ccc;
}

@media (max-width:622px) {

    main iframe{
        width: 90%;
        height: 250px;
    }
}

@media (max-width:426px) {

    header{
        font-size: x-small;
    }

    footer {
        font-size: x-small;
    }

}

@media (max-width:376px) {

    header nav ul li{
        display: block;
    }
    h1{
        font-size: small;
    }
    h2{
        font-size: small;
    }

    main iframe{
        width: 90%;
        height: 150px;
    }
}